html {
	scroll-behavior: smooth;
}
td {
	scroll-margin-top: 150px;
	cursor: default;
}
.content{
	/* Override main.css */
	min-height: 100px;
}
@keyframes shake {
  0% { transform: skewY(-12deg) rotate(8.5deg); }
  5% { transform: skewY(-8deg) rotate(8.5deg); }
  10% { transform: skewY(-12deg) rotate(8.5deg); }
  15% { transform: skewY(-8deg) rotate(8.5deg); }
  20% { transform: skewY(-10deg) rotate(8.5deg); }
  100% { transform: skewY(-10deg) rotate(8.5deg); }
}
#sourceDivContainer{
	display: none;
	position: fixed;
	overflow: hidden;
}
#sourceDiv {
	margin: 0px;
	padding: 1px 5px;
	background-color:#333;
	font-size:small;
	cursor: pointer;
	max-width: 500px;
	user-select: none;
	translate: 0 100%;
	transition: translate 0.1s ease-in-out;
}
/* ------------------------- SEARCH BAR ------------------------- */

.searchBarContainer{
	position:fixed;
	top:3px;
	right:100px;
	z-index:99;
	background-color:#BB4C1C50;
	width:fit-content;
	height:auto;
	padding:3px 8px;
	text-align:center;
	line-height:1;
}
#resultCount{
	display:inline-block;
	width:120px;
	font-size:small;
	font-style:italic;
	color:#C0C0C0;
}

.autocomplete {
  position: relative;
  display: inline-block;
}

.autocomplete-items {
  position: absolute;
  border: 1px solid #909090;
  border-bottom: none;
  /*border-top: none;*/
  z-index: 99;
  /*position the autocomplete items to be the same width as the container:*/
  top: 100%;
  left: 0;
  right: 0;
  font-variant-ligatures: none;
}

.autocomplete-items div {
  padding: 4px 3px;
  cursor: pointer;
  background-color: #181818; 
  border-bottom: 1px solid #909090; 
  color: #C0C0C0;
  font-size: small;
  height: fit-content;
  line-height: 1;
  text-align: left;
}

/*when hovering an item:*/
.autocomplete-items div:hover {
  background-color: #383838; 
}

/*when navigating through the items using the arrow keys:*/
.autocomplete-active {
  background-color: DodgerBlue !important; 
  color: #ffffff; 
}

input[type=text] {
	background-color: #333;
	color: white;
	border: 1px solid gray;
	border-radius: 3px;
	height: 20px;
	font-family: Exo, Roboto, sans-serif;
}
input[type=button] {
	background-color: #00000000;
	color: #C0C0C0;
	border: 1px solid #C0C0C0;
	cursor: pointer;
}
input[type=button]:hover {
	background-color: #1b8aba;
	color: white;
}

/* ------------------------- TOP/BOTTOM BUTTONS ------------------------- */
#toTopButton {
  /* Supplements main.css */
  left: auto;
  right: 0px; 
  border-radius: 12px 0px 0px 12px;
  width: 45px;
  transition: 0.2s;
}
#toBottomButton {
  position: fixed;
  top: 483px; 
  right: 0px; 
  z-index: 99; 
  cursor: pointer;
  text-align: center;
  background-color: #031014DD;
  padding: 4px;
  border: 2px solid;
  border-radius: 12px 0px 0px 12px;
  overflow: hidden;
  width: 45px;
  transition: 0.2s;
}
#toBottomButton:hover {
  background-color: #124054;
}

/* ------------------------- NAV MENU ------------------------- */
#navOpenButton{
	cursor: pointer;
	position: fixed;
	right:0;
	top:315px;
	text-align: center;
	background-color: #031014DD;
	padding: 4px;
	border: 2px solid;
	border-radius: 12px 0px 0px 12px;
	overflow: hidden;
	z-index: 99;
	transition: 0.2s;
	width: 45px;
}
#navOpenButton:hover {
	background-color: #124054;
}
.nav {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 100;
  top: 0;
  right: 0;
  background-color: #111111EE;
  overflow-x: hidden;
  padding-top: 20px;
  transition: 0.2s; 
}
.nav .closebtn {
  position: absolute;
  top: 0;
  right: 10px;
  font-size: 36px;
  margin-left: 50px;
}
.nav a {
  text-decoration: none;
  font-size: 12px;
  color: #C0C0C0;
  transition: 0.3s;
}
.nav a:hover {
  color: #FFFFFF;
}

/* ------------------------- LEGEND MENU ------------------------- */
#legendOpenButton{
	cursor: pointer;
	position: fixed;
	right:0;
	top:371px;
	text-align: center;
	background-color: #031014DD;
	padding: 4px;
	border: 2px solid;
	border-radius: 12px 0px 0px 12px;
	overflow: hidden;
	z-index: 99;
	transition: 0.2s;
	width: 45px;
}
#legendOpenButton:hover {
	background-color: #124054;
}
.legend {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 100;
  top: 0;
  right: 0;
  background-color: #111111EE;
  overflow-x: hidden;
  padding-top: 20px; 
  transition: 0.2s; 
}
.legend .closebtn {
  position: absolute;
  top: 0;
  right: 10px;
  font-size: 36px;
  margin-left: 50px;
  color: #C0C0C0;
}

/* ------------------------- SPOILER MENU ------------------------- */
#spoilerMenuOpenButton{
	cursor: pointer;
	position: fixed;
	right:0;
	top:427px;
	text-align: center;
	background-color: #031014DD;
	padding: 4px;
	border: 2px solid;
	border-radius: 12px 0px 0px 12px;
	overflow: hidden;
	z-index: 99;
	transition: 0.2s;
	width: 45px;
}
#spoilerMenuOpenButton:hover {
	background-color: #124054;
}
.spoilerMenu {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 100;
  top: 0;
  right: 0;
  background-color: #111111EE;
  overflow-x: hidden;
  padding-top: 20px; 
  transition: 0.2s; 
}
.spoilerMenu .closebtn {
  position: absolute;
  top: 0;
  right: 10px;
  font-size: 36px;
  margin-left: 50px;
  color: #C0C0C0;
}
.spoilerSwitch {
	display: block;
	position: relative;
	margin: 5px;
	padding: 3px;
	font-size: small;
}
.spoilerSwitch .switch {
	vertical-align: text-bottom;
}
.switchLabel {
	position: absolute;
	right: -310px;
	width: 300px;
}

/* ------------------------- MISC ------------------------- */
.tooltip {
	background-color:#031014EE;
}
.tooltip a[target="_blank"]::after {
  /* Adds box-and-arrow icon after links that open a new tab */
  content: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAoAAAAKCAYAAACNMs+9AAAACXBIWXMAAA7DAAAOwwHHb6hkAAAACXRFWHRDb21tZW50AACJKo0GAAAASElEQVR4nGP4//8/AzZ85syZ/8gYQwBNcQKKQhwmwhQl4FSIrAjmDAyF6IpgGEXhqVOnFLApwlAIU4zue6wKsQUT6QoJYZBCABxrNhBirnqBAAAAAElFTkSuQmCC);
  margin: 0px 3px 0px 5px;
}
.icon {
	display: inline-block;
	width: 30px;
	text-align: center;
	font-weight: bold;
}

/* ------------------------- TABLE ELEMENTS ------------------------- */

#theTable {
	margin-right: 60px;
	font-family: Roboto, sans-serif;
}
#theTable tr {
	position: relative;
}
#theTable > tbody > tr:hover::after {
    background: #FFFFFF33;
    border-radius: 0.1em;
    content: "";
    top: 2px;
	bottom: 3px;
    left: 42px;
	right: -3px;
    position: absolute;
	transform: skewY(-10deg) rotate(10deg);
	pointer-events: none;
}

.blinkBox {
	color: yellow !important;
	border-color: yellow !important;
	text-decoration: underline overline 2px;
}
.kirkEra {
	background-color: #604000;
}
.lostEra {
	color: #606060;
}
.picardEra {
	background-color: #400000;
}
.burnhamEra {
	background-color: #000040;
}
.spoiler{
	position: relative;
	white-space: pre;
}
.spoiler::after {
    background: black;
    border-radius: 0.1em;
    box-shadow: 0 0 1px rgba(0,0,0,0.35);
    content: "SPOILER";
	vertical-align: -50%;
    width: 99%;
    height: 80%;
    left: 0.5%;
	top: 8%;
	padding-top: 3px;
    position: absolute;
    transform: skewY(-10deg) rotate(8.5deg);
	color: #505050;
	display: var(--spoilerDisplay, inline-block);
	opacity: var(--spoilerOpacity, 100%);
	transition: var(--spoilerTransition, 4s);
	animation: var(--spoilerAnimation, none);
}
.moreInfo{
	cursor: help;
}
.moreInfo::after{
	content: "💬";
	margin-left: 3px;
}
.highlighted {
	position: relative;
}
.highlighted::after {
    background: #FFFFFF33;
    border-radius: 0.1em;
    content: "";
    top: 2px;
	bottom: 3px;
    left: 42px;
	right: -3px;
    position: absolute;
	transform: skewY(-10deg) rotate(10deg);
	pointer-events: none;
}



/*#theTable td:not(.essential){
	visibility:hidden;
}

#theTable .nonEssential {
	display: none;
}*/